.disableselect {
	-webkit-touch-callout: none;
	-moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h1.logo {
	margin-top: 14px;
	margin-bottom: 0;
	font-size: 40px;
	line-height: 40px;
}

hr {
  border-color: rgba(0,0,0,0.08);
}

button span { 
	color: #bbb;
	padding-right: 10px;
}

button {
	margin-right: 5px;
}

fieldset {
	margin-bottom: 4px;
}

progress, input.upload {
  display: none;
  margin-left: 10px;
}

#activity ul li div {
	float: left;
	width: 20px;
}

#activity ul li {
	padding-left: 20px;
	text-indent: -20px;
}

div.block {
	background: #f9f9f9;
	background: rgba(0,0,0,0.025);
	padding: 0px;
	margin-bottom: 20px;
	overflow: auto;
}

div.block form {
	margin-bottom: 0;
}

div.block h6 {
	padding: 10px 15px;
	cursor: pointer;
}

div.block > div {
	padding: 0px 15px 10px;
	display: none;
	overflow: auto;
}

div.block hr {
	margin-top: 0;
}

input[type="text"], input[type="range"], input[type="time"], input[type="password"], input[type="email"], input[type="number"], input[type="date"], input[type="time"], input[type="date-time"], textarea, select {
	width: 100%;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 8px;
}

input[type="text"].highlight, input[type="range"].highlight, input[type="time"].highlight, input[type="password"].highlight,	input[type="email"].highlight, input[type="number"].highlight, input[type="date"].highlight, input[type="time"].highlight, input[type="date-time"].highlight, textarea.highlight, select.highlight {
	border: 1px solid rgba(255,0,0,0.5);
	color: #444444;
	-moz-box-shadow: 0 0 3px rgba(255,0,0,0.2);
	-webkit-box-shadow: 0 0 3px rgba(255,0,0,0.2);
	box-shadow:  0 0 3px rgba(255,0,0,0.2); 
}

button[disabled], input[type="submit"][disabled], input[type="reset"][disabled], input[type="button"][disabled] {
	background: transparent;
	text-shadow: none;
	border-color: #ccc;
	cursor: default;
}

.array.disabled button, .array.disabled input[type="button"], .array.disabled > div > hr {
	display: none;
}

.CodeMirror {
	margin-bottom: 20px;
}

hr {
	margin-bottom: 10px;
}

.array.disabled hr {
	margin-top: 20px;
}

label.required:after, button.caution:after {
	content: ' *';
	color: red;
	font-size: 0.6em;
	vertical-align: super;
}

.labelvalue {
  float: right;
}

.field {
  max-width: 390px;
}

#script_editor .field {
  max-width: 100%;
}

.dialog {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9999;
	display: none;
}

.dialog div {
	max-width: 400px;
	margin: 0 auto;
	padding: 10px 15px;
}

.dialog div.error {
	border: 1px solid rgba(255,0,0,0.2);
	background: rgb(255,240,240);
}

.dialog div.info {
	border: 1px solid rgba(0,255,0,0.2);
	background: rgb(240,255,240);
}

.notice {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 9999;
  display: none;
  pointer-events: none;
}

.notice div {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px 15px;
  border: 1px solid rgba(0,0,0,0.2);
  background: rgb(255,255,255);
}

.notice .close {
  float: right;
  padding: 0 0 5px 15px;
  font-weight: 900;
  pointer-events: auto;
}

.nodeadd .close, .noderename .close {
	position: absolute;
	top: 0;
	right: 5px;
	font-weight: 900;
	pointer-events: auto;
	color: rgb(124,124,124);
	cursor: pointer;
}

.nodeadd, .noderename {
	background: white;
	position: absolute;
	padding: 20px;
	border: 1px solid rgb(224,224,224);
	border-radius: 2px;
	top: 45px;
	left: 15px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
	box-shadow: 0 0 3px rgba(0,0,0,.2);
	z-index: 888;
}

.nodeadd form, .nodeadd form button, .noderename form, .noderename form button {
	margin-bottom: 0;
}

#nodename {
	margin-bottom: 0;
	display: inline;
	cursor: pointer;
}

.noderename {
	position: absolute;
}

.nodedetails {
	position: relative;
}

.advanced, .advancededitor, .init, #nodelist, .noderename, .nodeadd {
	display: none;
}

#nodelist {
	position: relative;
}

.error, .err {
	color: #ff0000;
}

.local {
	color: #00ff00;
}

.remote, #console .info {
	color: #0000ff;
}

.warn {
	color: #ffa500;
}

.float {
	float: left;
}

.unfloat {
	clear: both;
}

.pad {
	margin-bottom: 20px;
}

.timestamp {
  color: #999;
  font-size: 0.8em;
}

.expand, .contract {
  cursor: pointer;
}

.autocomplete {
  position: absolute;
  margin-top: -20px;
  background: white;
  min-width: 100px;
  padding: 0;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #aaa;
  color: #444;
  -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  z-index: 999;
}

.autocomplete ul {
  margin: 0;
  padding: 0;
}

.autocomplete ul li {
  padding: 6px 4px;
  margin: 0;
}

.autocomplete ul li:hover {
  background-color: #eee;
}

#console {
	border: 1px solid #ccc;
	padding: 6px 4px;
	outline: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font: 11px "Lucida Console", Monaco, monospace;
	color: #777;
	margin: 0;
	width: 100%;
	display: block;
	margin-bottom: 2px;
	background: #fff;
	resize: vertical;
	height: 100px;
	overflow: auto;
	box-sizing: border-box;
	white-space: pre; nowrap;
}

#exec {
	max-width: 100%;
}

.CodeMirror-scrollbar-filler {
  display: block !important;
  cursor: s-resize;
  background: #fff url(data:image/gif;base64,R0lGODlhEQARAKIAAP///9fX13x8fH19fdvb29bW1vX19QAAACH5BAAAAAAALAAAAAARABEAAAMvCLrcEC4uKCOt7eK5c2daF1bD85XmJizFhiojsyprTC+oPQO7LRGBYLAgLAYJhgQAOw==);
}
.CodeMirror-dialog input {
  margin-bottom: 0;
  display: inline;
}

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}